*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
  background-color: tan;
  color: white;
}
/* 992px or less */
@media screen and (max-width:992px) {
  body {
    background-color: blue;
    color: white;
  }
}
/* 600px or less*/
@media screen {
  body {
    background-color:lightgray;
    color: white;
  }
}
#título {
    font-size: 35px;
    color: black;
}
#resumo {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
#imagem {
    margin: auto;
    display: block;
    width: 20%;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.5);
}
h1 {
    font-weight: bold;
    color: black;
}
ul {
    list-style-type: disc;
}
li{
    display: list-item;
    font-size: 14px;
}
.lista{
    list-style-position: inside;
}
ul{
    background: darkgrey;
    padding: 10px;
    margin-left: 20px;
    margin-right: 85%;
    box-shadow: 10px 10px 5px 3px rgba(0,0,0,0.5) ;
}
h1{
    font-weight: bold;
}
.link:hover{
    background-color: yellow;
    font-size: 20px;
}
label{
    font-size: 80%;
    text-decoration: underline;
}
button {
background-color: white;
border: black;
padding: 6px 15px;
cursor:grab;
}
button:active{
    background-color: orange;
}
.formulario{
background: darkgray;
padding: 4px;
margin-right: 75%;
align-items: baseline;
border: 1px solid blue;
box-sizing: border-box;
}
.Mensagem{
    width: 200px;
    height: 50px;
}
div {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
}
.container{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    background: darkgrey;
}
.linha1, .linha2 {
    background: grey;
    border: 1px solid blue;
    box-sizing: border-box;
}
#footer{ 
    font-size: 10px;
    color: black;
    background: white;
    padding: 2px;
    border:1px solid blue;
}